*{
   margin: 0;
   padding: 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body {
 font-family: 'Roboto', sans-serif;
 color:black;
 margin: 0;
 padding-top: 50px;
  -webkit-font-smoothing: antialiased;
  background: #c5d5cb;
  /*background: #b0bec5;*/
}
h1{
    margin-top: 50px;
  text-align: center;
}
/*.divider {
  height: 85px;
}*/
.first-section{
    margin:0;
    padding: 0;
    background: #c5d5cb;
    width:100vw;
    min-height: 150vh;
    max-width: none;
    overflow: hidden;

}
.bubbles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    word-wrap: break-word;
    color: white;
}
.bubbles li{
    display: flex;
    align-items: center;
   justify-content: center;
    position: absolute;
    list-style: none;
    display: block;
    width: 20px;
    height: 20px;
    background:#21C1C8;
    animation: animate 25s linear infinite;
    bottom: -150px;
    text-align: center;
    vertical-align: middle;



}
.bubbles li:hover{
    background-color:#e3e0cf;
}
.bubbles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0;
}
.bubbles li:nth-child(2){
    left: 10%;
    width: 40px;
    height: 40px;
    animation-delay: 2s;
    animation-duration: 12s;
}
.bubbles li:nth-child(3){
    left: 70%;
    width: 60px;
    height: 60px;
    animation-delay: 4s;
}
.bubbles li:nth-child(4){
    left: 40%;
    width: 80px;
    height: 80px;
    animation-delay: 18s;
}
.bubbles li:nth-child(5){
    left: 65%;
    width: 40px;
    height: 40px;
    /*animation: 0s;*/
    animation-delay: 0s;
}
.bubbles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    /*animation: 3s;*/
    animation-delay: 3s;
}
.bubbles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;


}
.bubbles li:nth-child(8){
    left: 50%;
    width: 35px;
    height: 35px;
    animation-delay: 15s;
    animation-duration: 35s;

}
.bubbles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 25s;
}
.bubbles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
     animation-duration: 10s;
}
.bubbles li:nth-child(11){
    left: 95%;
    width: 20px;
    height: 20px;
    animation-delay: 0;
}
.bubbles li:nth-child(12){
    left: 75%;
    width: 80px;
    height: 80px;
    animation-delay: 0;
}


.container-fluid{
 background-color: #4b636e;
 opacity:0.5;
 filter: alpha(opacity=50);
}
.navbar-default .navbar-nav>li>a{
    color: white;
}
.navbar-default .navbar-nav>li>a:hover{
    color:white;

    /*color: #B7B7B7;*/
}
.about .portafolio{
    background-color: #F5F5F5;
    color: black;
}
.socialtitulo{
    color:#FAFAFA;
}
.navbar-default {
    margin-bottom: 1px;
    background-color: transparent;

}
.navbar-default .navbar-brand{
    color: white;
}


.title2{
  text-align: center;
  font-family: sans-serif;
  color:inherit;
  margin-top: 90px;

}
.lily {
  width: 100%;
}
.resume{
  text-align: center;
  margin-top: 70px;
}
.web{
  text-align: center;
}

.social{
    min-height: 50vh;
    /*width: 100vw;*/
    /*margin: 50px;*/
    /*padding: 50px;*/

  /*margin-top: 50px;
  min-height: 60vh;
  width: 100vw;
  max-width: none;*/
  /*background-color: #FAFAFA;*/
  /*background-image: url('./socialmedia.jpg');*/
  /*background-repeat: no-repeat;
  background-size: cover;*/

  height: 60px;
  }

.fa{
  margin-top:250px;
  transition: transform .2s;
}

.icon{
    margin-top: 80px;
     color:#21C1C8;
}
.fa:hover {
  transform: scale(1.2);
}
.col-sm-4{
  text-align: center;
}
.cards-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card {
  min-width: 280px;
  max-width: 280px;
  border-radius: 5px;
  border: 1px solid #aaa;
  margin: 20px;
}
.card .card-img-top {
  width: 100%;
}
.card .card-block {
  padding: 15px;
}
.myskill{
    min-height: 100vh;
    width: 100vw;
    /*margin: 50px;*/
    /*padding: 50px;*/
display: flex;
}
.l{
    margin: 50px;
}
#skill{
    max-height:650px;;
}
.main{
        		margin: 50px auto;
        		width: 60%;
        	}
        	.progressBar{
        		position: relative;
        		width: 100%;
        		height: 40px;
        		background: #eeeeee;
        		margin-bottom: 20px;
        		border-radius: 5px;
        		box-shadow: 0 1px 2px #222;
        	}
        	.title{
                text-align: center;

                font-family: sans-serif;
                margin: 0;
        	    position: absolute;
        		width: 100px;
        		height: 40px;
        		padding-left: 10px;

        		float: left;
        		font-weight: bold;
        		color: #fff;
        		line-height: 2.5;
        		z-index: 10000;
        		border-top-left-radius: 5px;
        		border-bottom-left-radius: 5px;
        		box-shadow: 2px 0 2px #333;
        		text-shadow: 1px 1px 1px #000;

        	}
        	.progress_value{
        		position: relative;
        		float: right;
        		padding-right: 10px;
        		line-height: 2.5;
        		font-weight: bold;
        		color: #455a64;
        		z-index: 10000;
        	}
        	.progress{
        		height: 40px;
        		position: absolute;
        		border-radius: 5px;
        		box-shadow: 2px 0 2px #555;
        	}
            .title{
                background: #21C1C8;
            }
        	/*.JsColor{
        		background: #b71c1c;
        	}
        	.PyColor{
        		background: #4a148c;
        	}
        	.htmlColor{
        		background: #1a237e;
        	}
        	.sqlColor{
        		background: #1b5e20;
        	}
        	.mongoColor{
        		background: #ff6f00;
        	}
        	.gitColor{
        		background: #ec407a;
        	}
        	.nodeColor{
        		background: #ab47bc;
        	}
        	.flexColor{
        		background: #5c6bc0;
        	}
        	.jqueryColor{
        		background: #66bb6a;
        	}
            .reactColor{
                background-color: #424242;
            }*/
            .js{
        		/*background:#ec407a;*/
                background: #e3e0cf;
        	}
            .py{
        		background:#e3e0cf;
        	}
        	.html{
        		background:#e3e0cf;
        	}
            .sql{
        		background:#e3e0cf;
        	}
            .git{
                background-color: #e3e0cf;
            }
            .node{
                background-color: #e3e0cf;
            }
            .flex{
                background-color: #e3e0cf;
            }
            .jquery{
                background-color: #e3e0cf;
            }
            .react{
                background-color:#e3e0cf;
            }
            .mongo{
                background-color:#e3e0cf;
            }
        	@media (max-width: 720px) {
        		.main{
        			width: 90%;
        		}
        	}

/*.bar-inner {
  background-color: #2ecc71;
  width: 0%;
  height: 100%;
  position: relative;
  transition: width 3000ms linear;
}
.jv{
    background-color: #EF9A9A;
}
.ht{
    background-color: #81D4FA;
}
.py{
    background-color: #EEFF41;
}
.cs{
    background-color: #A5D6A7;
}
.ph{
    background-color: #CE93D8;
}
.gi{
    background-color: #424242;
}
.c{
    background-color: #D32F2F;
}*/

.transition {
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -o-transform: scale(1.6);
    transform: scale(1.6);
}
#mov1 {
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
}

@keyframes animate {
 0%{
     transform: translateY(0) rotate(0deg);
     opacity: 1;
     border-radius: 0;
 }
 100%
 {
     transform: translateY(-1000px) rotate(720deg);
     opacity: 0;
     border-radius: 50%;

 }
}
.contactForm{
    display: flex;
    margin: auto;
    justify-content: center;
    width: 80%;
}
.myform{
    width: 100%;

}
.contact{
    margin: 25px;
}
.name{
    margin-bottom:5px;
}
.nameemail{

margin-bottom: 20px;
}
.ct{
    text-align: center;
    margin-top: 40px;
}
.left {
    margin: 30px;
}
.rigth{
    margin: 30px;
}
.portafolio{
    min-height: 100vh;
    width: 100vw;
    margin: 50px;
    padding: 50px;
    margin-top: 50px;
}
.aboutIcons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.myicons{
    margin: 20px;


}
.abouth3{
    text-align: center;
}
.whois{
    margin-top: 65px;
}
.my{
    margin-top: 55px;
    text-align: center;
}
.btn{
    border:none;
    background-color: #21C1C8;
    color: white;
}
